.nav-bar {
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav {
  background-color: rgba(24, 23, 23, 0.637);
  border-radius: 20px;
}
.icons {
  padding: 5px;
  width: 40px;
  transition: border 0.3s ease-in-out;
  position: relative;
}

.nav-tabs {
  border: none;
}

.logo img {
  width: 10vw;
}

.logo-div {
  padding-left: 1rem;
}

.mode {
  justify-content: end;
  padding-right: 5rem;
}

@media screen and (max-width: 992px) {
  .nav-link {
    font-size: 0.6rem;
  }
  .logo-div {
    padding-left: 0;
  }
  .mode {
    padding-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .nav-link {
    font-size: 0.6rem;
  }
  .logo-div {
    padding-left: 0;
  }
  .mode {
    padding-right: 0;
  }
}
