body.dark .fixed-bg {
  position: relative;
  background-image: url("https://media-assets0.s3.ap-south-1.amazonaws.com/web_bg_2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

body.dark .fixed-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(20px);
  z-index: 1;
  opacity: 0.9;
}

body.dark .fixed-bg > * {
  position: relative;
  z-index: 2;
}
